body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:azure;
    margin: 0%;
}
h1{
    font-size: 36px;
    color:black;
    text-align: center;
    margin-bottom: 30px;
}
h2{
    font-size: 24px;
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
h5{
    font-style:normal;
    font-size: 12px;
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.twochart{
    display: flex;
    justify-content: center;
}
#regionSelect{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 500px;
    width: 100%;
    height:100%;
    padding:0;
}
#line-chart{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 800px;
    width: 100%;
    height:100%;
    padding:0;
}
#scatter-plot{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 800px;
    width: 100%;
    height:100%;
    padding:0;
}
#pie-chart{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 800px;
    width: 100%;
    height:100%;
    padding:0;
}
